@font-face {
	font-family: 'MADE';
	src: url('../fonts/MADE/MADE.otf');
	font-weight: normal;
	font-style: normal;
}

body{
  outline: none;
  overflow-x: hidden;
  font-family: "Proxima Nova Rg";
  margin: 0;
	fo
  box-sizing: border-box;
}

div{
  box-sizing: border-box;
}

p{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  outline: none;
  color: rgb(36, 45, 64);
  box-sizing: border-box;
}

a:focus{
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color:inherit;
}

img, img:focus, img:hover, span, span:focus{
  outline: none;
}

ul{
  list-style: none;
  box-sizing: border-box;
}

input{
  outline: none;
  padding:  0 5px;
  box-sizing: border-box;
}

textarea{
  outline: none;
  box-sizing: border-box;
}

.container{
  width: 1040px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

h1{
  font-family: "MADE";
  font-size: 36px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 30px;
}

.btn{
  border-radius: 0;
  border: 1px solid #000;
  font-size: 16px;
  font-family: "Proxima Nova Th";
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  padding: 15px 30px;
  width: 208px;
  display: inline-block;
  box-sizing: border-box;
}

.btn:hover{
	cursor: pointer;
}

.btn_orange{
  background: linear-gradient(to right, #f79d1e, #ffb717);
  border-radius: 0;
  font-size: 16px;
  font-family: "Proxima Nova Th";
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  padding: 15px 0;
  width: 208px;
  display: inline-block;
  box-sizing: border-box;
}

.btn_orange:hover{
  color: #fff;
}

.header_top{
  padding-top: 15px;
  padding-left: 15px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.header_logo_link{
  display: flex;
  align-items:  center;
  justify-content: flex-start;
}

.header_logo_text {
  padding-left: 15px;
  font-family: "Proxima Nova Bl";
  display: inline;
  font-size: 17,5px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0;
}

.header_logo_text span{
  font-size: 10px;
  font-family: "Proxima Nova Rg";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.2;
}

.header_menu{
  background-color: rgb(235, 235, 235);
}

.header_info{
  position: relative;
  display: flex;
  align-items: flex-end;
  padding-bottom: 25px;
}

.header_info_contacts_phone{
  font-size: 24px;
  font-weight: 600;
  font-family: "Proxima Nova Lt";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.2;
  margin-right: 25px;
}

.header_info_menu{
  position: absolute;
  right: 0;
  top:-20px;
}

.header_info_menu_body{
  display: flex;
}

.header_info_menu_body_item_link{
  margin-left: 35px;
}

.header_info_menu_body_item_link{
  font-size: 14px;
  color: rgb(102, 102, 102);
  text-decoration: underline;
  line-height: 1.2;
}

.header_menu_body{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  height: 47px;
}

.header_menu_body_item{
  height: 47px;
}

.header_menu_body_item_link{
  position: relative;
  line-height: 47px;
  height: 100%;
  display: block;
}

.header_menu_body_item_link:before{
  content: '';
  background-color: #f59032;
  position: absolute;
  width: 0;
  height: 5px;
  top:0;
  left:50%;
  transition: 0.5s;
}

.header_menu_body_item_link:hover:before{
  content: '';
  width: 150px;
  left:calc(50% - 75px);
}

.header_menu_body_item_link.use:before{
  content: '';
  width: 150px;
  left:calc(50% - 75px);
}

.breadcrumb_body{
  padding: 0;
  display: flex;
}

.breadcrumb_body_item{
  font-family: 'Proxima Nova Lt';
}

.breadcrumb_body_item_link{
  text-decoration: underline;
}

.breadcrumb_body_item_divider{
  margin: 0 10px;
}

.stocks_list{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 50px;
}

.stocks_list_item{
  width: calc(50% - 7px);
  border: 1px solid rgba(0, 0, 0, 0.231);
  padding: 50px 40px 30px 40px;
  margin-bottom: 15px;
}

.stocks_list_item_title{
  font-weight: bold;
}

.stocks_list_item_text{
  font-family: 'Proxima Nova Lt';
  font-weight: 300;
  margin-bottom: 30px;
}

.stocks_list_item_info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stocks_list_item_info_btn{
  font-family: 'Proxima Nova Lt';
  font-weight: 300;
  border: 1px solid rgba(0, 0, 0, 0.231);
}

.stocks_list_item_info_date{
  font-family: 'Proxima Nova Lt';
  font-weight: 300;
}

.stocks_more{
  text-align: center;
  margin-bottom: 70px;
}

.stocks_more_btn{
  width: 272px;
}

.stock_detail{
  display: flex;
}

.stock_detail_text{
  font-family: 'Proxima Nova Lt';
  font-weight: 300;
  width: 480px;
  margin-right: 50px;
}

.stock_detail_carusel{
  width: 474px;
  position: relative;
	height: max-content;
}

.stock_detail_carusel_item_img{
  max-width: 100%;
}

.stock_detail_carusel .slick-prev{
  position: absolute;
  left: 20px;
  z-index: 10;
  background-image: url("/img/white_arrow_left.png");
  width: 11px;
  height: 21px;
}

.stock_detail_carusel .slick-prev::before{
  display: none;
}

.stock_detail_carusel .slick-next{
  position: absolute;
  right: 20px;
  z-index: 10;
  background-image: url("/img/white_arrow_left.png");
  width: 11px;
  height: 21px;
  transform: rotate(180deg);
}

.stock_detail_carusel .slick-next::before{
  display: none;
}

.stock_detail_carusel .slick-dots{
  position: absolute;
  bottom:25px;
}

.stock_detail_carusel .slick-dots li button{
  background-color: rgb(255, 255, 255);
  width: 12px;
  height: 12px;
}

.stock_detail_carusel .slick-dots li button::before{
  display: none;
}

.stock_detail_carusel .slick-dots li.slick-active button{
  background-color: #ffb717;
}

/* // */
.big_carusel .slick-prev{
  position: absolute;
  left: 20px;
  z-index: 10;
  background-image: url("/img/black_arrow_left.png");
  width: 21px;
  height: 35px;
}

.big_carusel .slick-prev::before{
  display: none;
}

.big_carusel .slick-next{
  position: absolute;
  right: 20px;
  z-index: 10;
  background-image: url("/img/black_arrow_left.png");
  width: 21px;
  height: 35px;
  transform: rotate(180deg);
}

.big_carusel .slick-next::before{
  display: none;
}

.big_carusel .slick-dots{
  position: absolute;
  bottom:25px;
}

.big_carusel .slick-dots li button{
  background-color: #ffb717;
  border-radius: 50%;
  width: 17px;
  height: 17px;

}

.big_carusel .slick-dots li button::before{
  display: none;
}

.big_carusel .slick-dots li.slick-active button{
  background-color: #000;
}

.stock_detail_btn{
  font-family: 'Proxima Nova Lt';
  font-weight: 300;
  padding: 15px 0;
  width: 272px;
  border: 1px solid rgba(0, 0, 0, 0.231);
  margin-bottom: 70px;
}

.blogs{
  margin-bottom: 70px;
}

.blogs_item{
  border-top: 1px solid rgba(0, 0, 0, 0.231);
  padding: 20px 0;
  display: flex;
}

.blogs_item_img{
  margin-right: 35px;
}

.blogs_item_info_top{
  display: flex;
  justify-content: space-between;
}

.blogs_item_info_name{
  font-weight: bold;
}

.blogs_item_info_date{
  font-family: 'Proxima Nova Lt';
  font-weight: 300;
}

.blogs_item_info_h3{
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

.instructions{
  margin-bottom: 90px;
}

.instructions_search{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.instructions_search_label{
  font-weight: bold;
  margin-right: 10px;
}

.instructions_search_input{
  border: 1px solid rgba(0, 0, 0, 0.231);
  width: 676px;
  height: 40px;
  padding-left: 15px;
  margin-right: 15px;
  font-size: 16px;
}

.instructions_search_btn{
  background-color: rgb(85, 85, 85);
  color:#fff;
  width: 124px;
  height: 42px;
  font-family: 'Proxima Nova Th';
  font-weight: 800;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
}

.instructions_search_btn:hover{
  cursor: pointer;
}

.instructions_item{
  border-top: 1px solid rgba(0, 0, 0, 0.231);
  padding-top: 30px;
  padding-bottom: 15px;
}

.instructions_item:last-child{
  border-bottom: 1px solid rgba(0, 0, 0, 0.231);
}

.instructions_item_link{
  text-decoration: underline;
}

.instructions_detail{
  font-family: 'Proxima Nova Lt';
  font-weight: 300;
  margin-bottom: 60px;
}

.contacts_map{
  width: 100vw;
  height: 484px;
  margin-left: calc((100vw - 101%)/-2);
  position: relative;
  margin-bottom: 70px;
	position: relative;
}

.contacts_map_info{
	position: absolute;
	left:60%;
	top:50px;
	bottom:50px;
	width: 400px;
	padding-left: 105px;
	padding-top: 80px;
	padding-right: 90px;
  background-color: rgba(0, 0, 0, 0.56);
	z-index: 50;
	color:#fff;
}

.contacts_map_info_name{
	position: relative;
	font-family:'Proxima Nova Th';
	text-transform: uppercase;
	font-weight: 800;
	color:#fff;
	margin-bottom: 25px;
}

.contacts_map_info_name:before{
	content: '';
	display: block;
	position: absolute;
	background-image:  url("/img/mark_map_use.png");
	width: 28px;
	height: 42px;
	left:-50px;
	top:-21px;
}

.contacts_map_info_phone{
	color:#fff;
}

.contacts_map_info_mail{
		color:#fff;
}

.branches{
	margin-bottom: 90px;
}

.branches_title{
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	font-family: 'Proxima Nova Th';
	font-weight: 100;
	margin-bottom: 50px;
}

.branches_list{
	display: flex;
}

.branches_list_item{
	width: 25%;
}

.branches_list_item p{
	margin: 0;
}

.branches_list_item_name{
	font-family: 'Proxima Nova Th';
	font-weight: 800;
	text-transform: uppercase;
}

.branches_list_item_phone{
	margin: 30px 0;
	display: inline-block;
}

.contacts_form{
	background-color: #e5e5e5;
	padding: 45px 100px 60px 100px;
	margin-bottom: 65px;
}

.contacts_form_title{
	display: block;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'MADE';
	margin-bottom: 50px;
}

.contacts_form_body{
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
}

.contacts_form_body_item{
  width: 374px;
	margin-bottom: 30px;
}

.contacts_form_body_item:nth-child(odd){
	margin-right: 45px;
}

.contacts_form_body_item label{
	display: block;
	margin-bottom: 10px;
}

.contacts_form_body_item input{
	width: 100%;
  height: 50px;
	border: none;
}

.contacts_form_body_item.text{
	margin-bottom: 55px;
}

.contacts_form_body_item.text input{
  height: 192px;
}

.contacts_form_body_btn{
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}

.contacts_form_body_btn input{
	width: 272px;
}

.contacts_form_body_agreement{
	width: 100%;
	text-align: center;
}

.contacts_form_body_agreement_text{
	margin: 0 auto;
	font-size: 14px;
  line-height: 1.2;
  text-align: center;
  width: 432px;
}

.contacts_form_body_agreement_text a{
	text-decoration: underline;
}

.reviews_list{
	display: flex;
	flex-direction: column;
	border-top: 1px solid rgba(0, 0, 0,0.141);
	margin-bottom: 40px;
}

.reviews_list_item{
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	margin-bottom: 30px;
}

.reviews_list_item_cont{
	padding-top:20px;
	padding-bottom: 40px;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
}

.reviews_list_item:nth-child(even){
	background-color: #f5f5f5;
	padding: 20px 30px 40px 30px;
	margin: 0 -30px 30px -30px;
}

.reviews_list_item_info{
	width: calc(100% - 525px);
}

.reviews_list_item_info_name{
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 40px;
}

.reviews_list_item_info_text{
	height: 180px;
	overflow: hidden;
	transition: 0.5s;
	font-family: 'Proxima Nova Lt';
	font-weight: 300;
	margin-bottom: 30px;
}

.reviews_list_item_info_text p{
	margin: 0;
}

.reviews_list_item_btn{
	width: 272px;
  border: 1px solid rgba(0, 0, 0, 0.271);
	font-family: 'Proxima Nova Lt';
	font-weight: 300;
}

.reviews_list_answer{
	border-top:1px solid rgba(0, 0, 0, 0.141);
  width: 811px;
	padding-top: 30px;
}

.reviews_list_answer_name{
	text-transform: uppercase;
	font-weight: bold;
}

.reviews_list_answer_text{
	font-family: 'Proxima Nova Lt';
	font-weight: 300;
}

.reviews_list_more{
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.reviews_list_more_btn{
  width: 272px;
}

.reviews_form{
	background-color: #e5e5e5;
	padding: 45px 315px 60px 315px;
	margin-bottom: 65px;
}

.reviews_form_body{
	display: flex;
	flex-direction: column;
}

.reviews_form_body .contacts_form_body_item{
	margin-right: 0;
	width: 100%;
}

.reviews_text input{
	height: 192px;
}

.contacts_form_body_item_file label{
	font-weight: bold;
	margin-bottom: 15px;
}

.contacts_form_body_item_file_list{
	display: flex;
	flex-direction:  column;
	margin-bottom: 10px;
}

.contacts_form_body_item_file_list_item{
	border-bottom: 1px solid rgba(0, 0, 0, 0.278);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
}

.contacts_form_body_item_file_list_item:first-child{
	border-top: 1px solid rgba(0, 0, 0, 0.278);
}

.contacts_form_body_item_file_list_item a{
  border: 1px solid rgba(0, 0, 0, 0.278);
  width: 98px;
  height: 31px;
	text-align: center;
	line-height: 31px;
	font-size: 14px;
}

.contacts_form_body_item_file_add{
  font-size: 14px;
  color: rgb(0, 0, 0);
  line-height: 33px;
  text-align: center;
	background-color: #d5d5d5;
	border: none;
  width: 186px;
  height: 33px;
	font-family: 'Proxima Nova Rg';
	font-weight: normal;
	padding: 0;
	text-transform: none;
}

.contacts_form_body_btn_reviews input{
	padding: 0;
  width: 272px;
  height: 40px;
	line-height: 40px;
}

.contacts_form_body_agreement_reviews{
	margin-left: -30px;
}

.about_carusel.slick-slider.slick-dotted{
	margin-bottom: 55px;
}

.about_carusel_text{
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.about_carusel_text_item{
	width: 470px;
	font-family: 'Proxima Nova Lt';
	font-weight: 300;
}

.about_line_text{
	position: relative;
	font-family: "MADE";
	text-transform: uppercase;
	text-align: center;
	padding: 48px 0;
	margin-bottom: 60px;
}

.about_line_text::before{
	content: '';
	position: absolute;
	top:0;
	left:calc(50% - 65px);
	width: 130px;
	height: 1px;
	background-color: #000;
	display: block;
}

.about_line_text::after{
	content: '';
	position: absolute;
	bottom: 0;
	left:calc(50% - 65px);
	width: 130px;
	height: 1px;
	background-color: #000;
	display: block;
}

.about_info_name{
	font-size: 36px;
	font-family: 'Proxima Nova Rg';
	font-weight: normal;
	text-transform: uppercase;
}

.about_info{
	display: flex;
	justify-content: space-between;
}

.about_info_item{
	width: 260px;
}

.about_info_item_title{
	font-family: 'Proxima Nova Rg';
	font-weight: bold;
	padding-bottom: 18px;
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
}

/* //////////////////////////////////////////////////////// */
.footer{
  padding-top: 90px;
  padding-bottom: 65px;
  background-color: #ebebeb;
}

.footer_body{
  display: flex;
  flex-flow: row wrap;
  padding-left: 80px;
}

.footer_body_menu{
  width: 38%;
  display: flex;
  justify-content: space-between;
}

.footer_body_menu_body {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  padding-left: 0;
  width: 50%;
}

.footer_body_menu_body_item{
  margin-bottom: 10px;
}

.footer_body_menu_body_item_link{
  line-height: 1;
}

.footer_body_info{
  width: 39%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 80px;
  line-height: 1.5;
}

.footer_body_info_mail{
  text-decoration: underline;
}

.footer_body_btn{
  width: 23%;
}

.footer_body_btn{
  text-align: right;
}

.footer_body_btn .btn_orange{
  margin-bottom: 15px;
}

.footer_copyright{
  padding: 40px 0;
  text-align: center;
}
